/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
html, body, #fullheight {
    min-height: 100% !important;
	height: 100%;
	background: #001B24;
}
menu,ul{
	margin: 0;
    padding: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.wrapp_all{
	max-width: 1200px;
	display: table;
  margin: 0 auto;
}
.left_side{
	float:left;
	display: inline-block;
	background: #06222E;
	width: 20%;
	border-right-style: solid;
    border-right-width: 1px;
	border-right-color: white;
	height: 100%;
}
.wrapp_logo{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: rgb(255,255,255);
	text-align: center;
	padding: 35px;
}
.left_side_infoblock{
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: rgb(255,255,255);
	padding: 55px 0;
}
.left_side_infoblock_text_1{
	font-family: 'mullerultralight';
	font-size: 25pt;
	color: rgb(255,255,255);
}
.left_side_infoblock_text_2{
	font-family: 'mullerbold';
	font-size: 25pt;
	color: rgb(255,255,255);
}
.left_side_menu_item{
	text-align: left;
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 20px 65px;
}
.left_side_menu_bg_1{
	background-image: url('../img/icons/wallet.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
}
.left_side_menu_bg_2{
	background-image: url('../img/icons/stats.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
}
.left_side_menu_bg_3{
	background-image: url('../img/icons/stats.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
}
.left_side_menu_bg_4{
	background-image: url('../img/icons/arrows.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
}
.left_side_menu_bg_5{
	background-image: url('../img/icons/stats.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
}
.left_side_menu_bg_6{
	background-image: url('../img/icons/ring.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
}
.left_side_menu_bg_7{
	background-image: url('../img/icons/config.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
}
.left_side_menu_active{
	background-color: #001B24;
}
.left_side_menu_link{
	text-decoration: none;
	color: rgb(255,255,255);
	font-family: 'mullerlight';
	font-size: 12pt;
}
.logo_img{
	position: relative;
	width: 100px;
}
.central_side{
	float:left;
	background: #001B24;
	width: 37%;
	height: 100%;
}
.central_side_menu_item{
	text-align: center;
	text-decoration: none;
	list-style: none;
	display: block;
}
.central_side_menu_item_active{
	background-color: #06222E;
}
.central_side_menu_item_left{
	float: left;
	text-align: center;
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 20px;
}
.central_side_menu_item_right{
	float: right;
	text-align: center;
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 20px;
}
.central_side_menu_item_text_1{
	color: rgb(255,255,255);
	font-family: 'mullerbold';
	font-size: 25pt;
}
.central_side_menu_item_text_2{
	display: block;
	color: rgb(255,255,255);
	font-family: 'mullerlight';
	font-size: 15pt;
}
.central_side_menu_item_text_3{
	display: block;
	color: rgb(255,255,255);
	font-family: 'mullerlight';
	font-size: 10pt;
}
.central_side_menu_button_red{
	display: block;
	text-decoration: none;
    color: rgb(255,255,255);
    padding: 5px 35px;
    font-family: "mullerthin";
    font-size: 12pt;
    position: relative;
    border-radius: 15px;
    background-color: red;
	text-align: center;
	background-image: url('../img/icons/arrow_up_white.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 15px;
}
.green{
	background-color: green;
}
.central_side_menu_button_select{
	font-family: "mullerthin";
	padding: 40px 40px 40px 30px;
	font-size: 10pt;
	color: #06FFEC;
	text-decoration: none;
	background-image: url('../img/icons/arrow-right.png');
    background-repeat: no-repeat;
	background-position: right;
	display: block;
}
.create_new_wallet_button{
	font-family: "mullerthin";
	font-size: 9px;
	color: #06FFEC;
	padding: 50px 20px;
	background-image: url('../img/icons/add_wallet.png');
    background-repeat: no-repeat;
	background-position: bottom;
	display: block;
	text-align: center;
	text-decoration: none;

}
.right_side{
	float:left;
	background: #06222E;
	width: 35%;
	padding: 0 40px;
	height: 100%;
	text-align: center;
}
.right_side_info_block{
	padding: 40px 0;
	text-align: center;
}
.right_side_info_img{
	padding-bottom: 30px;
}
.right_side_info_block_text_1{
	font-family: 'mullerbold';
	font-size: 25pt;
	color: rgb(255,255,255);
	display: block;
}
.right_side_info_block_text_2{
	font-family: 'mullerthin';
	font-size: 35pt;
	color: rgb(255,255,255);
	display: block;
}
.right_side_info_block_text_3{
	font-family: 'mullerultralight';
	font-size: 15pt;
	color: rgb(255,255,255);
	display: block;
}
.right_side_button_block{
	width: 70%;
	display: table;
  margin: 0 auto;
  padding-bottom: 100px;
}
.button_send{
	display: block;
	text-decoration: none;
    color: rgb(255,255,255);
    padding: 15px 35px;
    font-family: "mullerthin";
    font-size: 12pt;
    position: relative;
    border-radius: 2px;
    background-color: red;
	text-align: center;
}
.button_resive{
	display: block;
	text-decoration: none;
    color: rgb(255,255,255);
    padding: 15px 35px;
    font-family: "mullerthin";
    font-size: 12pt;
    position: relative;
    border-radius: 2px;
    background-color: green;
	text-align: center;
}
.button_confirm{
	background-color: #00FFEB;
	display: block;
	text-decoration: none;
    color: rgb(255,255,255);
    padding: 15px 35px;
    font-family: "mullerthin";
    font-size: 12pt;
    position: relative;
    border-radius: 2px;
	text-align: center;
	display: table;
	  margin: 0 auto;
	  width: 200px;
}
.right_side_tr_history_block{
	text-align: center;
}
.right_side_tr_history_text_1{
	font-family: "mullerthin";
	font-size: 18pt;
	color: rgb(255,255,255);
	padding-bottom: 50px;
}
.right_side_wrapp_tr_history{
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
	border-bottom-width: 1px;
}
.right_side_tr_history_item{
	display: inline-block;
	padding-right: 5%;
}
.right_side_tr_history_link{
	text-decoration: none;
	font-family: "mullerthin";
	font-size: 14pt;
	color: rgb(255,255,255);
}
.right_side_tr_history_link:hover{
	text-decoration: underline;
	padding-top: 20px;
}
.right_side_tr_history_list{
	margin-top: 20px;
}
.right_side_tr_hisotry_item{
	display: block;
	padding-bottom: 30px;
}
.right_side_send_transaction{
	padding-bottom: 100px;
}
.tr_history_up{
	background-image: url('../img/icons/arrow_up.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
	text-align: left;
	padding: 5px 50px;
	font-family: 'mullerbold';
	font-size: 15pt;
	color: green;
}
.tr_history_down{
	background-image: url('../img/icons/arrow_down.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
	text-align: left;
	padding: 5px 50px;
	font-family: 'mullerbold';
	font-size: 15pt;
	color: green;
}
.tr_history_address{
	font-family: 'mullerthin';
	font-size: 12pt;
	color: rgb(255,255,255);
}
.tr_history_date{
	font-family: 'mullerthin';
	font-size: 10pt;
	color: rgb(255,255,255);
}
.input_send_transaction{
	width: 100%;
    padding: 16px 0;
    margin: 2px 6px 16px 0;
	background-color: #06222E;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
    font-size: 18pt;
	font-family: "mullerthin";
	color: rgb(255,255,255);
}
.label_send_transaction{
	color: rgb(255,255,255);
    font-family: "mullerthin";
    font-size: 12pt;
}
.right_side_confirm_transaction{
	padding: 50px 0;
	width: 100%;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
}
.text_send_transaction{
	padding-top: 30px;
	color: rgb(255,255,255);
    font-family: "mullerbold";
    font-size: 18pt;
}